/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    executor = 'slurm'
    
    errorStrategy = 'retry'
    maxRetries    = 0
    maxErrors     = '-1'

    cpus = 1
    memory = 1.GB
    time = '1.0 h'

    withName: DIAMOND_MAKEDB_FROM_PIPE {
        ext.args = ''
        cpus = 4
        memory = 32.GB
        time = '8.0 h'
        // publishDir = [
        //     path: { "${params.outdir}/${meta.id}/diamond/db" },
        //     mode: params.publish_dir_mode,
        //     saveAs: { filename ->
        //         if (filename.contains('.dmnd')) {
        //             return "${meta.id}.dmnd"
        //         }
        //     },
        // ]
    }

    withName: DIAMOND_BLASTP_TO_MST {
        ext.args = "--id ${(int)(params.diamond_min_seq_identity * 100)} --query-cover ${(int)(params.diamond_min_cov * 100)} --subject-cover ${(int)(params.diamond_min_cov * 100)} --max-target-seqs 0"
        ext.args2 = ''
        cpus = 16
        memory = 32.GB
        time = '8.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/diamond/blastp" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                return filename
            },
        ]
    }

    withName: MST_TO_CLUSTER {
        cpus = 1
        memory = 32.GB
        time = '8.0 h'
    }

    withName: MMSEQS_CREATEDB {
        cpus = 4
        memory = 32.GB
        time = '8.0 h'
    }

    withName: MMSEQS_LINCLUST {
        ext.args = "-c ${params.mmseqs_min_cov} --min-seq-id ${params.mmseqs_min_seq_identity}"
        cpus = 4
        memory = 32.GB
        time = '8.0 h'
    }
     
    withName: MMSEQS_CREATETSV {
        cpus = 1
        memory = 4.GB
        time = '8.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mmseqs/linclust" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.tsv')) {
                    return "${meta.id}_${meta.idx}.tsv"
                }
            },
        ]
    }

    withName: CONCATENATE {
        cpus = 1
        memory = 1.GB
        time = '8.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mmseqs/linclust" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                return "${meta.id}_concatenated.tsv"
            },
        ]
    }
}